/* Variables de dise침o */
:root {
    --primary-color: #ed0505;
    --background-color: #f5f5f5;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
}

/* Estilos base */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-top: 20px;
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}

/* Estilos para pantallas peque침as (m칩viles) */
@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
        padding: 0 15px;
    }
    body {
        padding: 10px;
    }
}


/* Estilo del bot칩n */
.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    position: relative;
    isolation: isolate;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(0% var(--curve-size), var(--curve-size) 0, 100% 0, 100% calc(100% - var(--curve-size)), calc(100% - var(--curve-size)) 100%, 0 100%);
    transition: color 250ms;
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

.btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg 5s ease infinite;
}

@keyframes move-bg {
    0% { background-position: 31% 0%; }
    50% { background-position: 70% 100%; }
    100% { background-position: 31% 0%; }
}

.btn::after {
    background: var(--bg);
    clip-path: polygon(var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5), calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width), calc(100% - var(--border-width)) var(--border-width), calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)), calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)), var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

.btn:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 200ms;
}

.btn:hover {
    color: #fff;
}

/* Estilos responsive */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    p {
        padding: 15px;
    }

    .btn {
        padding: 0.5em 1em;
        font-size: 15px;
    }
}
